* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #ffffff;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  padding: 10px 40px;

  position: relative;
  color: white;

  background: url("img/cartao.png") no-repeat center center;
  background-size: cover;
}

/* OVERLAY */
header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(65, 40, 12, 0.979);
  z-index: 1;
}

header * {
  position: relative;
  z-index: 2;
}

/* LOGO + ÍCONE */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  height: 110px;
  width: auto;
  object-fit: contain;
  position: relative;
  left: -25px;
}

/* LOGO TEXTO */
.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* AGRUPAMENTOS */
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* LINKS */
nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  /* maior */
  font-weight: 700;
  /* negrito */
  letter-spacing: 0.5px;
  transition: 0.3s;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* BOTÕES */
.btn {
  background: white;
  color: #ff6a00;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
}

.btn:hover {
  background: #ffe0cc;
  transform: scale(1.05);
}

.btn-outline {
  background: transparent;
  border: 1.5px solid white;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* HERO */
.hero {
  height: 60vh;
  background: url("img/banner.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

/* OVERLAY */
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.13);
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.hero-text {
  max-width: 500px;
  color: white;
}

.hero-text h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-text p {
  margin-bottom: 20px;
}

.about {
  width: 100%;
  background: #ff6a00;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* imagem ocupando todo o espaço */
.about img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}

/* Beneficios */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 100px 60px;
  overflow: hidden;
}

/* LADO ESQUERDO */
.features-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* CARDS */
.card {
  background: white;
  padding: 30px;
  width: 340px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
}

.card img {
  width: 65px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #111;
}

.card p {
  font-size: 16px;

  color: #555;

  line-height: 1.5;
}

/* LADO DIREITO */
.features-video {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
}

/* IMAGEM BENEFÍCIOS */
.features-video img {
  width: 100%;
  max-width: 340px;

  height: auto;

  object-fit: contain;

  display: block;
}

/* VÍDEO */
.features-video video {
  width: 340px;
  height: 650px;
  object-fit: cover;
  border-radius: 28px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

/* APP */
.app {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 50px;
  overflow: hidden;
}

/* imagem ocupando toda a div */
.app-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* imagem preenchendo tudo */
.app-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* camada preta por cima da imagem */
.app::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.589);
  /* intensidade do preto */
  z-index: 1;
}

/* conteúdo acima da imagem */
.app-content {
  position: relative;
  z-index: 2;
  color: white;
}

.app-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.app-content p {
  font-size: 22px;
  line-height: 1.6;
  max-width: 400px;
}


/* BANNER */
.banner {
  background: #ff6a00;
  color: white;
  text-align: center;
  padding: 60px;
}

.banner h2 {
  margin-bottom: 20px;
}

/* TESTIMONIALS */
.testimonials {
  padding: 100px 20px;
  background: linear-gradient(to bottom, #ffffff, #f5f7fa);

  text-align: center;
}

.testimonials h2 {
  font-size: 42px;
  color: #111;

  margin-bottom: 60px;
  font-weight: 700;
}

/* container dos cards */
.testimonials-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* card */
.testimonial-card {
  position: relative;

  width: 350px;
  padding: 35px 30px;

  background: white;

  border-radius: 20px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

  transition: 0.4s;

  overflow: hidden;
}

/* efeito topo */
.testimonial-card::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;

  background: linear-gradient(90deg, #ff6a00, #ff9f43);
}

/* hover */
.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.testimonial-card p {
  font-size: 18px;
  line-height: 1.7;

  color: #444;

  margin-bottom: 25px;

  font-style: italic;
}

/* nome */
.testimonial-card span {
  font-size: 16px;
  font-weight: 700;

  color: #ff6a00;
}

/* CONTACT */
.contact {
  padding: 80px 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #ff6a00;
  box-shadow: 0 0 5px rgba(255, 106, 0, 0.3);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
}

/* ANIMAÇÕES */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.6s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVO */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  .nav-left {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-right {
    justify-content: center;
  }

  .logo-container img {
    height: 20px;
  }

  .hero {
    height: 50vh;
  }

  .hero-text h2 {
    font-size: 28px;
  }

  .features {
    flex-direction: column;
    padding: 80px 20px;
    gap: 50px;
  }

  .features-left {
    width: 100%;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 360px;
  }

  /* RESPONSIVIDADE DA IMAGEM + VIDEO */
  .features-video {
    width: 100%;
    align-items: center;
  }


  .features-video video {
    width: 100%;
    max-width: 280px;
    height: 540px;
  }

  .app {
    flex-direction: column;
    gap: 30px;
  }

  .about {
    min-height: auto;
  }

  .about img {
    width: 100%;
    height: auto;
  }

  .testimonials h2 {
    font-size: 32px;
  }

  .testimonial-card {
    width: 100%;
    max-width: 340px;
  }

}